@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Montserrat' !important;
  }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

/* CSS KONTEN */
.konten{
    margin-left: 296px;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #F0F0F0;
    border-radius: 40px;
    height: 87vh;
    padding: 20px;
}   

.konten h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.konten label{
    font-size: 1.3rem;
    margin-top: 10px;
}
/* CSS KONTEN */

/* CSS BULAT */
.bulat{
    background-color: #F0F0F0;
    display: flex;
    margin-top: 10px;
    gap: 50px;
}

.bulat1, .bulat2, .bulat3, .bulat4{
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.ket-status{
    margin-left: 20%;
}
/* CSS BULAT */

/* CSS BOX-DETAIL */
.table-box {
    width: 100%;
    background-color: white;
    height: 52vh;
    overflow-x: auto;
    border-radius: 20px;
    padding: 15px;

}

.table-detail {
    width: 100%;
    border-collapse: separate; /* WAJIB agar border-radius bisa bekerja */
    border-spacing: 0;
    font-size: 12px;
}


.table-detail th {
    background-color: #F0F0F0;   
    text-align: left;
    font-weight: 600;
    color: black;
    padding: 10px;
    text-align: center;
}

/* Radius hanya pada sudut-sudut */
th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}

.table-detail td {
    padding: 12px 15px;
    border-bottom: 1px solid #e9ecef;
    color: black;
    text-align: center;
}

/* CSS BOX-DETAIL */