@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Montserrat' !important;
  }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.konten{
    margin-left: 276px;
    margin-top: 15px;
    margin-right: 20px;
}

/* CSS BOX-KONTEN */
.box-konten{
    background-color: #F0F0F0;
    border-radius: 40px;
    height: 95vh;
    padding: 20px;
}

.head-box-konten{
    display: flex;
    align-items: center;
    gap: 74vh;
}

.head-box-konten button{
    height: 40px;
    border: none;
    background-color: yellow;
    border-radius: 40px;
    font-size: 14px ;
    padding: 10px;
    font-weight: 500;
}

.teks-head-box-konten h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.teks-head-box-konten p{
    font-size: 1rem;
}
/* CSS BOX-KONTEN */

/* CSS KATEGORI & SEARCH */
.option-head-box{
    display: flex;
    align-items: center;
    gap: 30px;
}

.option-button{
    margin-top: 30px;
}
.option-button button{
    display: block;
    height: 40px;
    border: none;
    background-color: yellow;
    border-radius: 40px;
    font-size: 14px ;
    padding: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.option-button .tambah-guru{
    background-color: lime;
}

.kategori select {
    padding: 9px;
    border-radius: 20px;
    border: 1px black solid;
    outline: none;
    background-color: #F0F0F0;
    cursor: pointer;   
}

.search-container {
  position: relative;
  max-width: 200px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 8px 15px 8px 40px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/* CSS KATEGORI & SEARCH */


/* CSS TABLE */
.table-box {
    width: 100%;
    background-color: white;
    height: 48dvh;
    overflow-x: auto;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px;
    overflow-y: auto;

}

.table-konten {
    width: 100%;
    border-collapse: separate; /* WAJIB agar border-radius bisa bekerja */
    border-spacing: 0;
    font-size: 12px;
}

.table-konten th {
    background-color: #F0F0F0;   
    text-align: left;
    font-weight: 600;
    color: black;
    padding: 10px;
}

/* Radius hanya pada sudut-sudut */
th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}

.table-konten td {
    padding: 12px 15px;
    border-bottom: 1px solid #e9ecef;
    color: black;
}

/* CSS TABLE */


/* CSS PAGINATION */
.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: end;
    margin-top: 6px;
}

.page-item {
    margin: 0 3px;
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: #6c757d;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.page-link {
    display: block;
    padding: 6px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
}

.page-link:hover:not(.disabled) {
    background-color: #e9ecef;
    text-decoration: none;
}

/* CSS PAGINATION */


/* CSS FORM */
.modal-pengaduan {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-pengaduan .form-box {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 40px;
    width: 100vh;
    height: 85vh;
    max-width: 90%;
}

.sub-head-box h1 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.sub-head-box h1:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* CSS HEAD FORM BOX */

/* CSS form ajukan SK */
.border-form{
    border: 2px black solid;
    padding: 10px;
}

.sub-form-box {
    background-color: white;
    height: 70vh;
    padding: 20px;
    
}

.sub-form-box:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.form-group label {
    width: 150px;
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #D9D9D9;
    outline: none;
}

.form-group select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-color: white;
    border: 1px black solid;
    background-size: 12px;
    padding-right: 30px;
}

.kategori {
    display: flex;
    flex-direction: column;
}

.kategori label {
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}

.kategori select {
    padding: 5px;
    border-radius: 20px;
    border: 1px black solid;
    background-color: white;
    cursor: pointer;
}

/* CSS form ajukan SK */

/* CSS BUTTON */
.all-button{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-top: 10px;
}

.all-button button{
    border: none;
    border-radius: 20px;
    font-weight: 300;
    padding: 5px;
    width: 70px;
}

.batal{
    background-color: red;
}

.kirim{
    background-color: #88CFA5;
}

/* CSS BUTTON */

/* CSS FORM */
