@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Montserrat' !important;
  }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.konten{
    margin-left: 276px;
    margin-top: 40px;
    margin-right: 20px;
}

/* CSS BOX-KONTEN */
.box-konten{
    background-color: #F0F0F0;
    border-radius: 40px;
    height: 87dvh;
    padding: 20px;
}

.head-box-konten{
    display: flex;
    align-items: center;
    gap: 74dvh;
}

.head-box-konten button{
    height: 40px;
    border: none;
    background-color: yellow;
    border-radius: 40px;
    font-size: 14px ;
    padding: 10px;
    font-weight: 500;
}

.teks-head-box-konten h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.teks-head-box-konten p{
    font-size: 0.9rem;
}
/* CSS BOX-KONTEN */


/* CSS BULAT */
.konten label{
    font-size: 1.3rem;
}
.bulat{
    background-color: #F0F0F0;
    display: flex;
    margin-top: 10px;
    gap: 100px;
}

.bulat1, .bulat2, .bulat3, .bulat4{
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* CSS BULAT */


/* CSS PAGINATION */
.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: end;
    margin-top: 4px;
}

.page-item {
    margin: 0 3px;
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: #6c757d;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.page-link {
    display: block;
    padding: 6px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
}

.page-link:hover:not(.disabled) {
    background-color: #e9ecef;
    text-decoration: none;
}

/* CSS PAGINATION */

/* CSS PENGADUAN BAR */
.box-status-step{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
}

.status-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.status-step img{
    width: 45px !important;
}

.status-step span{
    font-size: 14px;
    text-align: center;
}

/* CSS PENGADUAN BAR */

/* CSS KET-DETAIL */
.ket-detail{
    margin-top: 40px;
}

.ket-detail p{
   font-size: 13px;
    gap: 20px;
    font-weight: 500;
}
/* CSS KET-DETAIL */

/* CSS DOWNLOAD */
.download{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 2%;
}

.btn-download {
    background-color: yellow;
    color: black;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px rgb(165, 165, 16) solid;
    text-decoration: none;
    font-size: 12px;
    right: 10px;
    bottom: 0px;
    font-weight: 600;
}

.btn-download:hover {
    background-color: rgb(176, 176, 20);
}

/* CSS DOWNLOAD */
