@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Montserrat' !important;
  }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.konten{
    margin-left: 276px;
    margin-top: 40px;
    margin-right: 20px;
}

/* CSS BOX-KONTEN */
.box-konten{
    background-color: #F0F0F0;
    border-radius: 40px;
    height: 87dvh;
    padding: 20px;
}

.head-box-konten{
    display: flex;
    align-items: center;
    gap: 74dvh;
}

.head-box-konten button{
    height: 40px;
    border: none;
    background-color: yellow;
    border-radius: 40px;
    font-size: 14px ;
    padding: 10px;
    font-weight: 500;
}

.teks-head-box-konten h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.teks-head-box-konten p{
    font-size: 0.9rem;
}
/* CSS BOX-KONTEN */


/* CSS BULAT */
.konten label{
    font-size: 1.3rem;
}
.bulat{
    background-color: #F0F0F0;
    display: flex;
    margin-top: 10px;
    gap: 100px;
}

.bulat1, .bulat2, .bulat3, .bulat4{
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* CSS BULAT */


/* CSS TABLE */
.table-box {
    width: 100%;
    background-color: white;
    height: 44.5dvh;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;

}

.table-konten {
    width: 100%;
    border-collapse: separate; /* WAJIB agar border-radius bisa bekerja */
    border-spacing: 0;
    font-size: 12px;
}


.table-konten th {
    background-color: #F0F0F0;   
    text-align: left;
    font-weight: 600;
    color: black;
    padding: 10px;
   
}

/* Radius hanya pada sudut-sudut */
th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}

.table-konten td {
    padding: 12px 15px;
    border-bottom: 1px solid #e9ecef;
    color: black;
}
/* CSS TABLE */


/* CSS PAGINATION */
.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: end;
    margin-top: 4px;
}

.page-item {
    margin: 0 3px;
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: #6c757d;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.page-link {
    display: block;
    padding: 6px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
}

.page-link:hover:not(.disabled) {
    background-color: #e9ecef;
    text-decoration: none;
}

/* CSS PAGINATION */

/* CSS DOWNLOAD */
.btn-download {
    background-color: yellow;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 12px;
}

.btn-download:hover {
    background-color: rgb(176, 176, 20);
}

/* CSS DOWNLOAD */